.active{
    background-color: green;
    color: #fff;
    font-weight: bold;
}

li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}

#container{
    border-bottom: 2px solid #888;
    margin-bottom: 10px;
    padding: 10px;
}